body {
    background-image: url('../assets/image/fundo_shrek2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    
}
.h1, p {
    color: white;
    background: rgba(92, 143, 72, 0.7); 
    padding: 20px;
    border-radius: 10px;
}
.barra-personagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: none;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.personagem {
    text-align: center;
    color: white;
}

.personagem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
}

.personagem p {
    margin-top: 5px;
}

.card {
    background: none;
    border: none;
    border-radius: 10px;
}
